@import 'colors';

h1,
h2,
h3,
h4,
h5,
h6,
li {
	font-family: 'Montserrat', sans-serif;
	color: $whiteish;
}

li { font-weight: 700; }

nav li {
	color: $accent;
}

h1 { font-size: 4.5em; }

p,
a,
i {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: $whiteish;
}

#loading-area {
	p {
		font-weight: 600;
		font-stretch: semi-expanded;
	}

	h3 {
		font-weight: 400;
	}
}

.icon-link,
.icon-link:visited,
a {
	text-decoration-line: none;

	&:hover {
		transition: all 0.2s ease-in-out;
		opacity: 0.7;
	}
}