// Includes
@import 'typography';
@import 'colors';

// SCSS
:root {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #202F8F;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	//box-shadow: inset 0 0 60px 60px rgba(0, 0, 0, 0.07);
}

nav {
	position: absolute;
	height: 4em;
	top: 15%;
	left: 0;
	right: 0;
	margin-left: 100px;
	margin-right: 100px;
	
	background: $navColor;
	border-radius: 2em;

	filter: url('#goo');

	ol {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-content: center;
		padding: 0;
		margin: 0;

		li {
			position: relative;
			display: inline;
			text-align: center;

			div {
				position: absolute;
				top: 2.5em;
				bottom: 0;
				transform: translateX(-50%);
    			margin: auto;
				width: 5em;
				height: 0;
				line-height: 0.65em;
	
				background-color: $navColor;
				border-radius: 2.5em;
				font-size: 1.3em;

				a {
					text-decoration-line: none;
					color: inherit;
					font-family: inherit;

					&:hover { opacity: 1; }
				}

				&:hover,
				&:target {
					transition: all 0.2s ease;
					line-height: 5em;
					height: 5em;
					font-size: 1.6em;
				}
			}
		}
	}
}

#loading-area {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	width: 60vw;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
	}
}

hr {
	border: solid $whiteish 0.5px;
}

footer {
	position: absolute;
	left: 50%;
	bottom: 3vh;
	transform: translateX(-50%);	

	opacity: 0.7;
}

#social-icon-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 20vw;
}

#social-icons {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	padding: 0;

	list-style: none;

	& li:hover {
		transition: all 0.2s ease-in;
		opacity: 0.7;
	}
}

hr.light {
	width: 50%;
	border: solid darken($whiteish, 20%) 0.5px;
}

@media only screen and (max-width: 768px) {
	nav {
		border-radius: 0;
		margin: 0;
		top: 0;
	}
}
