<div id="skills-container">
    <h1>Programming Skills</h1>
    <ul>
        <li>
			<p><strong>HTML: </strong> 7 years of experience.</p>
		</li>
		<li>
			<p><strong>CSS: </strong> 7 years of experience.</p>
		</li>
		<li>
			<p><strong>JS: </strong> 3 years of experience.</p>
		</li>
		<li>
			<p><strong>Bash Scripting: </strong> 4 years of experience.</p>
		</li>
		<li>
			<p><strong>PHP: </strong> 3 years of experience.</p>
		</li>
		<li>
			<p><strong>GoLang: </strong> 1 years of experience.</p>
		</li>
	</ul>

	<h1>Software Skills</h1>
	<ul>
		<li>
			<p><strong>Linux: </strong> 6 years of experience.</p>
			<p><strong>Distros:</strong></p>
			<ul>
				<li><p>Ubuntu Desktop &amp; Server</p></li>
				<li><p>ZorinOS</p></li>
				<li><p>Linux Mint</p></li>
				<li><p>Ubuntu</p></li>
				<li><p>Kali Linux</p></li>
				<li><p>Arch Linux</p></li>
				<li><p>Manjaro</p></li>
				<li><p>Debian</p></li>
			</ul>
		</li>
		<li><p>GulpJS</p></li>
		<li><p>Sass</p></li>
		<li><p>jQuery</p></li>
		<li><p>Bootstrap</p></li>
		<li><p>Git</p></li>
		<li><p>Apache Webserver</p></li>
		<li><p>Postfix</p></li>
		<li><p>Dovecot</p></li>
		<li><p>Autopsy</p></li>
		<li><p>Zsh</p></li>
		<li><p>Vim</p></li>
	</ul>
</div>