<h1>Ben Allen</h1>
<h3>Loves Open Source, Golang, and the web</h3>
<div id="social-icon-container">
	<ul id="social-icons">
		<li><a class="fas fa-envelope fa-2x icon-link" href="mailto:contact@thebenallen.net"></a></li>
		<li><a class="fab fa-linkedin-in fa-2x icon-link" href="https://linkedin.com/in/ben-allen-a9955217b/"></a></li>
		<li><a class="fab fa-gitlab fa-2x icon-link" href="https://gitlab.com/Njinx"></a></li>
	</ul>
</div>