<h2><a href="https://gitlab.com/Njinx/cyberscoreclient">Cyber Score Engine</a></h2>
<h3>A scoring engine to be used to train for CyberPatriot or other similar competitions.</h3>
<hr class="light">

<h2><a href="https://gitlab.com/Njinx/dotfiles">Dotfiles</a></h2>
<h3>Dotfiles for various programs such as Vim, i3-wm, Zsh, URXVT, and Rofi.</h3>
<hr class="light">

<h2><a href="https://gitlab.com/Njinx/bens_website_2019">TheBenAllen.net (This website)</a></h2>
<h3>My personal website.</h3>